* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ff00ff;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div {
  border: 3px solid black;
  height: 200px;
  width: 200px;
  background-color: #fff;
}

@media (min-width: 400px) {
  div {
    background-color: #0022ff;
  }
}

@media (min-width: 700px) {
  div {
    background-color: #22ff00;
    width: 500px;
  }
}
