* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header div {
  background-color: #1cd1b0;
  padding-left: 20px;
  padding-top: 5px;
  height: 30px;
}

h1 {
  background-color: #00669f;
  height: 60px;
  padding-top: 10px;
  padding-left: 20px;
}

body {
  width: 1450px;
  overflow-x: hidden;
}

section {
  padding: 10px 5px;
}

article {
  display: inline-block;
  width: 230px;
  background-color: #f3f3f3;
  height: 500px;
  margin: 0 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background,
.background2 {
  background-image: url("../img/background.png");
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url("../img/background2.png");
}

.background img,
.background2 img {
  position: relative;
  top: 20px;
  left: 10px;
}

article h2 {
  text-align: center;
  padding: 60px 0 10px;
}

article .image1,
.image2,
.image3 {
  border-radius: 50%;
  position: absolute;
  top: 180px;
  left: 180px;
}

article .image2 {
  left: 660px;
}

article .image3 {
  left: 1130px;
}

article p {
  padding: 0 10px;
  padding-bottom: 20px;
  line-height: 19px;
  font-weight: 400;
}

article button {
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  left: 70px;
  top: 40px;
  background-color: #00669f;
  color: #fff;
  border: none;
}

footer p {
  background-color: #00669f;
  color: #fff;
  position: relative;
  bottom: -10px;
  padding: 20px 10px;
}

@media (max-width: 600px) {
  body {
    width: auto;
    overflow: hidden;
    height: 1200px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: #f3f3f3;
    height: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .background,
  .background2 {
    background-image: url("../img/background.png");
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .background2 {
    background-image: url("../img/background2.png");
  }

  article h2 {
    text-align: center;
    padding: 60px 0 10px;
  }

  article .image1,
  .image2,
  .image3 {
    border-radius: 50%;
  }

  article .image2 {
    left: 200px;
    top: 500px;
  }

  article .image3 {
    left: 30px;
  }

  article p {
    padding: 0 10px;
    padding-bottom: 20px;
    line-height: 19px;
    font-weight: 400;
  }

  article button {
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    left: 70px;
    top: 40px;
    background-color: #00669f;
    color: #fff;
    border: none;
  }

  footer p {
    background-color: #00669f;
    color: #fff;
    position: relative;
    bottom: -10px;
    padding: 20px 10px;
  }
}
