* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header li {
  padding: 1rem;
  list-style: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

/* Main */
section {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #fc200c;
}

h2 span {
  color: #fff;
}

section .divIzquierda {
  background-image: url(../img/delivery.jpg);
  height: 50vh;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 60px;
  padding: 20px;
}

section .divDerecha {
  height: 50vh;
  width: 500px;
  margin: 60px;
  padding: 20px;
}

.divDerecha .divFlex {
  display: flex;
  justify-content: space-between;
  padding: 70px 50px;
}

.divDerecha h3 {
  padding: 5px 0;
}

.divDerecha li {
  color: #000;
  font-weight: 700;
  line-height: 25px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #222;
  color: #fff;
  align-items: center;
  height: 110px;
}

footer li {
  list-style: none;
  line-height: 25px;
}
